**/*~
**/.DS_Store
**/webrat.log
*.swo
*.swp
*.tmproj
*~
.bundle/config
.bundle/install.log
.DS_Store
.idea/
.project
.redcar
.rubyamp-config.yml
app/views/layouts/_timestamp.html.haml
chromedriver.log
config/database.yml
config/sec_config.yml
coverage
db/*.sqlite3
hs_err_*
lib/openssl/lib/*.jar
log
log/*
log/**/*
nbproject/*
node_modules/*
npm-debug.log
Picasa.ini
public/*/cache/*
public/assets/
public/dropbox_sync/*
public/images/**/*
public/videos/**/*
app/assets/story/*
public/javascripts/*.js
public/javascripts/admin/*.js
public/javascripts/compiled
public/javascripts/compiled/*
public/javascripts/compiled/**/*
public/javascripts/compiled/**/**/*
public/jb/
public/stylesheets/*.css
!public/stylesheets/core.css
!public/stylesheets/rooms.css
!public/stylesheets/meezmaker.css
!public/stylesheets/bootstrap.css
public/system
public/system/**/*
rails/
RELEASE
solr/
spec/javascripts/compiled
spec/javascripts/compiled/*
spec/javascripts/compiled/**/*
spec/javascripts/compiled/**/**/*
spec/javascripts/specs/*.js
spec/javascripts/specs/**/*.js
tmp/
vendor/bundle
vendor/assets/javascripts/custom/admin/routes.js
webrat.log
local
.sass-cache
.rbenv-version
.jhw-cache
script/secure_rails
tags
diagnostic.txt
