%table
  %tr
    %th 
      = current_game.team1.name
    %th
      = current_game.team2.name
  %tr
    %td
      = current_game.score_for(current_game.team1)
    %td
      = current_game.score_for(current_game.team2)
