.col-lg-3
  .card
    %h2.title= game_card.card.title
    %ul 
      - game_card.card.words.each do |word|
        %li= word.value
    .result-btn-group
      = link_to "Good", next_round_path(result: 1), class: "btn btn-success", method: :post
      = link_to "Bad", next_round_path(result: -1), class: "btn btn-danger", method: :post